.text-center {
    text-align: center;
}
.bg-blue {
    background-color: rgba(0, 85, 177, 0.2);
}

.bg-yellow {
    background-color: rgba(255, 191, 0, 0.2);
}

.border-top {
    border-top: 3px solid black; }

