<div class="container mt-4">
    <div class="row mb-5">
        <div class="col">
            <h3 class="text-center">Journal</h3>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center" *ngFor="let date of formattedDates">{{ date }}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let team of teams; let i = index">
                        <tr [ngClass]="{'bg-yellow': i === 0, 'bg-blue': i === 1}">
                            <td [attr.colspan]="lessons.length + 1" class="text-center font-weight-bold">{{ team.name }}
                            </td>
                        </tr>
                        <tr *ngFor="let student of team.students">
                            <td [ngClass]="{'bg-yellow': i === 0, 'bg-blue': i === 1}">{{ student.name }}</td>
                            <td class="text-center" *ngFor="let lesson of lessons">
                                {{ checkAttendance(student.id, lesson.id) }}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-warning" style="margin-right: 5%; " (click)="openAddAttendanceModal()">Add
            Attendance</button>
        <button class="btn btn-success" (click)="generatePairs()">
            Generate Pairs
        </button>
        <button class="btn btn-primary" (click)="openAddLessonModal()" style="margin-left: 5%;">
            Add Lesson
        </button>
    </div>
</div>