<div cdkDropListGroup class="team-container" style="width: 1600px; height: 100%;">
  
  <div class="team-section">
    <h2 class="team-titleY">Team Yellow</h2>
    <div cdkDropList [cdkDropListData]="teamA" (cdkDropListDropped)="drop($event)" class="list">
      <div class="header">
        <div class="header-cell">Name</div>
        <div *ngFor="let column of scoreColumns; let i = index" class="header-cell">
          <span>{{ column }}</span> <!-- Отображение названия колонки -->
        </div>
      </div>
      <div *ngFor="let participant of teamA" cdkDrag class="row">
        <div class="cell">{{ participant.name }}</div>
        <div *ngFor="let column of scoreColumns; let i = index" class="cell">
          <input 
            type="number" 
            step="any" 
            [(ngModel)]="participant.scores[column]" 
            (blur)="updateScore(participant, column)" 
            placeholder="Введите оценку" />
        </div>
      </div>
    </div>
  </div>

  <div class="team-section">
    <h2 class="team-titleB">Team Blue</h2>
    <div cdkDropList [cdkDropListData]="teamB" (cdkDropListDropped)="drop($event)" class="list">
      <div class="header">
        <div class="header-cell">Name</div>
        <div *ngFor="let column of scoreColumns; let i = index" class="header-cell">
          <span>{{ column }}</span> <!-- Отображение названия колонки -->
        </div>
      </div>
      <div *ngFor="let participant of teamB" cdkDrag class="row">
        <div class="cell">{{ participant.name }}</div>
        <div *ngFor="let column of scoreColumns; let i = index" class="cell">
          <input 
            type="number" 
            step="any" 
            [(ngModel)]="participant.scores[column]" 
            (blur)="updateScore(participant, column)" 
            placeholder="Введите оценку" />
        </div>
      </div>
    </div>
    
    <div class="d-flex">
      <mat-dialog-actions>
        <button mat-button (click)="addScoreColumn()">Добавить колонку оценки</button> 
      </mat-dialog-actions>
    </div>
  </div>
</div>