.dialog-title {
  text-align: center;
  margin-bottom: 20px;
  color: #3f51b5;
}

.team-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-section {
  flex: 1 1 45%; 
  margin: 10px; 
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  min-width: 300px;
}

.team-titleY {
  font-family: 'Roboto Mono',italic;
  color: #000000;
  font-size:0.6cm

}

.team-titleB {
  font-family: 'Roboto Mono',italic;
  color: #000000;
  font-size:0.6cm
}


.list {
  font-family: 'Roboto Mono',italic;
  margin-top: 10px;
}

.header {
  display: flex;
  background-color: #3f51b5; 
  color: white;
  padding: 10px;
}

.header-cell {
  flex: 1;
  text-align: center;
}

.row {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0; 
}

.cell {
  flex: 1;
  text-align: center;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
  .team-section {
    flex-basis: 100%; /* На мобильных устройствах секции занимают всю ширину */
    margin: 5px 0; /* Уменьшение отступов на мобильных устройствах */
  }
}