<mat-dialog-content>
  <h2 mat-dialog-title>Перемещение студентов между командами</h2>
  <div cdkDropListGroup>
  <div class="row">
    <div class="col-md-6">

      <h3>Команда A</h3>
      <div
      cdkDropList
      [cdkDropListData]="teamA"
      id="teamAList"
      class="list"
      (cdkDropListDropped)="drop($event)">
        <div *ngFor="let student of teamA" cdkDrag>{{ student }}</div>
      </div>

    </div>
    <div class="col-md-6">

      <h3>Команда B</h3>
      <div
      cdkDropList
      [cdkDropListData]="teamB"
      id="teamBList"
      class="list"
      (cdkDropListDropped)="drop($event)">
        <div *ngFor="let student of teamB" cdkDrag>{{ student }}</div>
      </div>

    </div>
  </div>
</div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Закрыть</button>
</mat-dialog-actions>