<mat-dialog-content>
  <h2 mat-dialog-title class="dialog-title">Student List</h2>
  <div cdkDropListGroup class="team-container">
    
    <div class="team-section">
      <h2 class="team-titleY">Team Yellow</h2>
      <div cdkDropList [cdkDropListData]="teamA" (cdkDropListDropped)="drop($event)" class="list">
        <div class="header">
          <div class="header-cell">Name</div>
          <div *ngFor="let column of scoreColumns" class="header-cell">{{ column }}</div>
        </div>
        <div *ngFor="let participant of teamA" cdkDrag class="row">
          <div class="cell">{{ participant.name }}</div>
          <div *ngFor="let column of scoreColumns" class="cell">{{ participant.scores[column] || '-' }}</div>
        </div>
      </div>
    </div>

    <div class="team-section">
      <h2 class="team-titleB">Team Blue</h2>
      <div cdkDropList [cdkDropListData]="teamB" (cdkDropListDropped)="drop($event)" class="list">
        <div class="header">
          <div class="header-cell">Name</div>
          <div *ngFor="let column of scoreColumns" class="header-cell">{{ column }}</div>
        </div>
        <div *ngFor="let participant of teamB" cdkDrag class="row">
          <div class="cell">{{ participant.name }}</div>
          <div *ngFor="let column of scoreColumns" class="cell">{{ participant.scores[column] || '-' }}</div>
        </div>
      </div>
    </div>

  </div>  
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="addScoreColumn()">Добавить колонку оценки</button>
  <button mat-button (click)="onNoClick()">Закрыть</button>
</mat-dialog-actions>